.overall {
  background-color: #393E46;
  padding: 5% 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FFD369;
}

h1 {
  color: #FFD369;
  padding-bottom: 3%;
}

.content {
  padding-left: 8%;
  padding-right: 8%;
}

.button{
  margin-top: 1%;
  margin-bottom: 3%;

}
p {
  color: #FFD369;

}
.copyright {
  font-size: 0.7rem;
  background-color: #222831;
  color: #EEEEEE;
  text-align: center;
  padding: 0.5% 1%;
}
